@media(min-width:576px)
{
   h3{
text-decoration: underline;
text-transform: capitalize;
color: rgb(211, 31, 31);
   } 
}
@media(min-width:768px)
{
    .header{
        background-color: rgb(228, 5, 42);
    }
    h3{
        color: white;
        text-align: center;
    }
}